body , html , #app{
    background-color : black;
    height: 100%;
}

*::-webkit-scrollbar{
    width : 10px;
    height: 10px;
}

*::-webkit-scrollbar-track{
    background-color: #343a40;
}

*::-webkit-scrollbar-thumb{
    background-color: rgba(255,153,0, 0.8);
    border-radius: 20px;
    border: 3px;
}

*::-webkit-scrollbar-corner{
    background-color: orange;
}

.navbar a{
    text-decoration: none;
    color : white;
}

.span-content{
    height: 100%;
    width : 100%;
}

.span-height{
    height : 100%;
}

.span-width{
    width : 100%;
}

.content-height{
    height: 90%;
}


.service-name{
    font-family: Ubuntu;
    font-size: 1.8em;
}

.filehub-card-icon{
    width: fit-content;
    height: fit-content;
}

.filehub-card-icon .bg-orange{
    border-radius: 3px;
    padding-inline: 2px;
}

#nav-controls{
    width: 80%;
}


#directory-tree-panel{
    height : 100%;
    padding-inline: 10px;
    border-radius: 6px;
}

#directory-tree{
    overflow: auto;
}

#directory-tree svg{
    margin-right: 2%;
    text-align: left;
}

#directory-tree h5 ,h6{
    font-family: Ubuntu;
    text-overflow: ellipsis;
    white-space: nowrap;
    min-width:1px;
}

#directory-tree a{
    color: white;
    text-decoration:none;
}

#explorer-panel{
    overflow-y : auto;
    overflow-x : hidden;
    border-radius: 6px;
}

#explorer-panel .details{
    margin-bottom: 40px;
}

#explorer-panel .file-type{
    width: 120px;
    height: 120px;
    margin-block: 10px;
}

#explorer-table{
    overflow: auto;
    background-color: #343a40;
}

/* #directory-tree .collapse{
    border-left-color: white;
    border-left-width: 3px;
    border-left-style: dashed;
}
 */

#file-card{
    background-color: transparent!important;
}

#file-card .card-header{
    height: 80%;
}
#file-card .card-footer{
    height: 20%;
}


.action-card #preview-audio{
    width: 100%;
}

.action-card #preview-document{
    width: 90%;
}

.action-card #preview-archive{
    zoom : 15;
    opacity: 40%;
}

.action-card .btn-group{
    padding-bottom: .25rem;
}

.action-card .btn-group button{
    margin-left: 0px;
    margin-right: .25rem;
}

@media only screen and (min-width:992px){
    .action-card .btn-group{
        float: right;
    }
}

#home-view{
    font-family: Ubuntu;
    font-size: larger;
}

#home-view img{
    opacity: 90%;
}

#home-view .col{
    overflow: hidden;
    position:relative;
    background-color: #1e1e1e;
    text-align: center;
    border: 1px rgba(255,153,0 , 0.15) solid;
    border-radius: 20px;
}

#home-view .bg-guide{
    opacity: 0.30;
    position: absolute;
    left: 0;
    top: 0;
}

#home-view .bg-text{
    position: relative;
}

#directory-content-list{
    min-width: 50%;
    max-width: 75%;
}

#directory-content-list svg{
    opacity: 70%;
}

#directory-content-list h6{
    white-space: nowrap;
}

#directory-content-list .list-group-item-custom{
    color: white;
    background-color: #343a40;
}

#directory-content-list .list-group-item-custom:hover svg{
    opacity : 100%;
    zoom : 1.1;
    transition-duration : 600ms;
}

#directory-content-list button{
    border-radius: 6px;
    border-top: 1px;
}

#support-navbar{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#support-panel .text-secondary{
    color : #aebecc!important;
}

#dir-controls{
    position:absolute;
    float: left;
    margin: 20px;
}

.noteblock{
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    padding: 12px;
    background-color: #2d2f33;
    color: white;
    height: min-content;
}

.codeblock{
    padding-block: 12px;
    padding-inline: 12px;
    border-radius: 6px;
    background-color: #1d2124;
    color: white;
}

.border-orange{
    border-color: rgb(255,153,0)!important;
    border-width: 3px!important;
}

.support-col{
    width: 90px;
}

.img-lg{
    width: 70%;
}

.img-span{
    width: 100%;
}
 
#directory-tree-col{
    height: 100%;
}

.pointable{
    cursor : pointer;
}

.zoomed{
    zoom: 1.8;
}

.bg-orange{
    background-color: rgb(255,153,0)
}

.bg-ash-gray{
    background-color: #343a40;
}

.custom-dark{
    background-color: rgb(27,27,27);
}

.custom-black{
    background-color: black;
}

.text-black{
    color: black;
}

.text-orange{
    color : rgb(255,153,0)
}